schemas/xmlreceipt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="xmlreceipt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="seller" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sellername" type="xs:string" minOccurs="0"/>
                            <xs:element name="sellerid" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="duns" type="xs:integer" minOccurs="0"/>
                                        <xs:element name="sellerid" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="vatin" type="xs:string" minOccurs="0"/>
                            <xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
                            <xs:element name="selleraddress" type="xs:string" minOccurs="0"/>
                            <xs:element name="aspect" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="aspectname" type="xs:string"/>
                                        <xs:element name="aspectvalue" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="total" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="purchasedate" type="xs:date" minOccurs="0"/>
                            <xs:element name="totalquantity" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="totalProducts" type="xs:integer"
                                                    minOccurs="0"/>
                                        <xs:element name="totalUnits" type="xs:integer"
                                                    minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="totalprice" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="currency" type="xs:string" minOccurs="1"/>
                                        <xs:element name="totalnetvalue" type="xs:float"/>
                                        <xs:element name="totaltaxes" type="xs:float" minOccurs="0"
                                        />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="aspect" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="aspectname" type="xs:string"/>
                                        <xs:element name="aspectvalue" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="itemlist" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="itemname" type="xs:string" minOccurs="0"/>
                                        <xs:element name="itemid" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="gtin" type="xs:string"
                                                                minOccurs="0"/>
                                                    <xs:element name="ean" type="xs:integer"
                                                                minOccurs="0"/>
                                                    <xs:element name="ean13" type="xs:integer"
                                                                minOccurs="0"/>
                                                    <xs:element name="ean8" type="xs:integer"
                                                                minOccurs="0"/>
                                                    <xs:element name="upc" type="xs:integer"
                                                                minOccurs="0"/>
                                                    <xs:element name="isbn" type="xs:string"
                                                                minOccurs="0"/>
                                                    <xs:element name="ismn" type="xs:string"
                                                                minOccurs="0"/>
                                                    <xs:element name="issn" type="xs:string"
                                                                minOccurs="0"/>
                                                    <xs:element name="asin" type="xs:string"
                                                                minOccurs="0"/>
                                                    <xs:element name="selleritemid" type="xs:string"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dates" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bestbefore" minOccurs="0"
                                                                type="xs:dateTime"/>
                                                    <xs:element name="useby" minOccurs="0"
                                                                type="xs:dateTime"/>
                                                    <xs:element name="productiondate" minOccurs="0"
                                                                type="xs:dateTime"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="price" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="currency" minOccurs="0"
                                                                type="xs:string"/>
                                                    <xs:element name="itemvalue" minOccurs="0"
                                                                type="xs:float"/>
                                                    <xs:element name="itemtax" minOccurs="0"
                                                                type="xs:float"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="quantity" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="litre" minOccurs="0"
                                                                type="xs:float"/>
                                                    <xs:element name="gramm" minOccurs="0"
                                                                type="xs:float"/>
                                                    <xs:element name="units" minOccurs="0"
                                                                type="xs:float"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="itemgroup" maxOccurs="unbounded"
                                                    minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="eclass">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="classificationid"
                                                                            type="xs:integer"/>
                                                                <xs:element name="classificationname"
                                                                            type="xs:string"/>
                                                                <xs:element name="language" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="unspsc">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="classificationid"
                                                                            type="xs:integer"/>
                                                                <xs:element name="classificationname"
                                                                            type="xs:string"/>
                                                                <xs:element name="language" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="cpv">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="classificationid"
                                                                            type="xs:integer"/>
                                                                <xs:element name="classificationname"
                                                                            type="xs:string"/>
                                                                <xs:element name="language" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>

                                                    <xs:element name="sellercategory">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="classificationid"
                                                                            type="xs:integer"/>
                                                                <xs:element name="classificationname"
                                                                            type="xs:string"/>
                                                                <xs:element name="language" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infosheet" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="uri" type="xs:anyURI"/>
                                                    <xs:element name="xmlproductinfo"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="aspect" maxOccurs="unbounded"
                                                    minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="aspectname" type="xs:string"/>
                                                    <xs:element name="aspectvalue" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="units" type="xs:integer"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="optional" default="0.0.1"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
